img {
    border-radius: 50%;
}
.text {
    display: inline-block;
    text-align: left;
}
.redesocial img {
    vertical-align: middle;
    width: 40px!important;
    height:40px!important;
}
.redesocial a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: inherit;
    }
    
    li{
    list-style:none;
    }