@charset "UTF-8";

/*
    em HTML é ID = em CSS é #
    em HTML é CLASS = em CSS é .

*/

body{
background-color:#F2ECE4;
}

div{
    background-color:#D9C0A3;
    border-radius: 15px;
    box-shadow: 8px 8px 15px rgba(116, 126, 126, 0.591);
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1{
    color:#302e2b;
    font-family: 'Passion One', cursive;
}

h1#principal {
    text-align: center;
    color:rgb(11, 10, 10);
    font-family: 'Caprasimo', cursive;
    background-color:#D9C0A3;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #594A3C;
}

h2{
    color:#030303;
    font-family: 'Patua One', cursive;
}

p{
color: #594A3C;
font-family: 'Lobster', cursive;
}

.primary{
    color: #594A3C;
    text-align: center;
}

.basic {
    color: blue;
    text-align: center;
    }

    .intermed{
    color: red;
    text-align: center;
    }

    .advanced{
    color: green;
    text-align: center;
    }

    .destaque{
    background-color: yellow;
    }